<!DOCTYPE html>
<html>
<head>
  <title>Moja Aplikacja</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<header>
  <h1>Herzlich wilkommen im bomboclatcasino</h1>
</header>

<main>
  <%= yield %> <!-- tutaj pojawi się zawartość widoków -->
</main>

<footer>
  <p>&copy; 2025 BBC</p>
</footer>
</body>
</html>
